body {
	font-family: 'Play', sans-serif;
	margin: 0px;
}

table {
	border-collapse: collapse;
}

th {
	background-color: #2d2d2d;
	color: #fff;
	text-align: left;
	padding: 10px;
}

td {
	padding: 10px;
}

.odd {
	background-color: #eeeeee;
}

.even {
	background-color: #dddddd;
}

.textfield, .textarea {
	font-family: 'Play', sans-serif;
	display: block;
	width: 80%
}

.btn
{
	font-family: 'Play', sans-serif;
	display: block;
	padding: 5px 30px;
}
.header {
	background-color: #2d2d2d;
	font-size: 1.5em;
	padding: 20px;
	color: #fff;
}

.footer {
	padding: 5px;
	text-align: center;
}
.mainContent
{
	padding: 10px;
}