@CHARSET "ISO-8859-1";
body
{
	margin: 0px;
	font-family: 'Oxygen', sans-serif;
}
.big-textfield
{
	font-size: 1.5em;
}
.textfield, .textarea, .btn
{
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
}
.textfield, .textarea, .big-textfield
{
	padding: 4px;
}
.label
{
	padding: 5px 0px;
}
.btn
{
	padding: 3px 20px;
}